input#uploader(type='file',style="display:none")


.photoPicker

    nav.fp-nav-tabs(role='tablist')
        div(role='presentation')
            div(role='tab', aria-controls='thumbPicker', aria-selected='true') photo
            div(role='tab', aria-controls='photoUpload', aria-selected='false') upload

    //- section#info-panel(role='tabpanel', aria-hidden='false')

    section.thumbPicker(role='tabpanel', aria-hidden='false')
        .thumbsContainer
        a.btn.btn-cozy.right.next
            p #{t('modal next')} &#12297

    section.photoUpload(role='tabpanel', aria-hidden='true')
        button.modal-uploadBtn #{t('modal upload btn')}

.croper
    table
        tbody
            tr
                td
                    img#img-to-crop
                td
                    div#frame-img-preview
                        img#img-preview

    a.chooseAgain #{t('photo-modal chooseAgain')}

