#modal-uploadBtn
  width:80%
  height:25px
  position:absolute
  top:10px

.thumbsContainer
  margin-top:30px

.thumbsContainer
  img
    border: 5px solid transparent
    height: 120px
    margin-bottom: 2.5px
    margin-right: 2.5px

#img-to-crop
  display: block
  max-width:300px
  max-height:300px

#frame-img-preview
  width:100px
  height:100px
  overflow:hidden

#img-preview
  max-width: none

.modal-body.photoPickerCroper
  background-color: #123456

.modal-body img.selected
  border: 5px solid #34a6ff
  border-radius: 4px
  -webkit-border-radius: 4px
  -ms-filter: none
  filter: none

.chooseAgain
  position: absolute
  bottom: 0
  right: 9px